input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #009688;
    height: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #017c70;
  }
  input[type=file] {
    width: 100%;
    max-width: 100%;
    min-width: 20%px;
    color: #999999;
    padding: 0px;
  }
  /* Remova o estilo padrão da tag <abbr> */
.file-input {
    display: flex;
}
.btn-ex {
    background-color: #ce0202;
    border: none;
    color: #fff;
    display: none;
}

.btn-ex:hover {
    background-color: #b60000;
    color: #fff;
}